body {
	background-color: #667292;
}

.Title {
	text-align: center;
	padding: 20px;
	color: #f1e3dd;
	font-family: Verdana;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.calc-bg {
	margin: auto;
	border: 2px solid #726b6b;
	border-radius: 5px;
	width: 350px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #f1e3dd;
	box-shadow: -5px 5px 10px #a8a8a8;
}
 
.display {
	margin: auto;
	text-align: right;
	font-family: Verdana;
	font-size: 20px;
	width: 315px;
	height: 17px;
	padding: 8px 8px 16px 8px;
	background-color: #8d9db6;
	border: 2px solid #726b6b;
	border-radius: 5px
}

.numbers-operators {
	margin: auto;
	text-align: center;
	width: 315px;
	font-family: Verdana;
	margin-top: 5px;
	padding: 8px 8px 20px 8px;
	background-color: #f1e3dd;
	border: 2px solid #726b6b;
	border-radius: 5px
}

.button {
	width: 70px;
	height: 50px;
/*	padding: 10px 20px 10px 20px;*/
	border: 1px solid #726b6b;
	font-size: 20px;
	font-family: Verdana;
	border-radius: 5px;
	position: relative;
	background-color: #8d9db6;
}

.large-button {
	width: 160px;
	height: 50px;
	font-size: 20px;
	border: 1px solid #726b6b;
	border-radius: 5px;
	position: relative;
	top: -4px;
	left: 4px;
	background-color: #8d9db6;
}

.button-c {
	top: -4px;
	left: -4px;
}

.button-pm {
	top: -4px;
	left: 0px;
}
/*Numbers*/
.nine {
	top: 0px;
	left: 1px;
}

.eight {
	top: 0px;
	left: -3px;

}
.seven {
	top: 0px;
	left: -7px;
}

.six {
	top: 4px;
	left: 1px;
}

.five {
	top: 4px;
	left: -3px;
}

.four {
	top: 4px;
	left: -7px;
}

.three {
	top: 8px;
	left: 1px;
}

.two {
	top: 8px;
	left: -3px;
}

.one {
	top: 8px;
	left: -7px;
}

.zero {
	top: 12px;
	left: -7px;
}

.decimal {
	top: 12px;
	left: -3px;
}

.equals {
	top: 12px;
	left: 1px;
}

/*Operators*/
.division {
	top: 0px;
	left: 7px;
	width: 80px;
}

.multiplication {
	top: 4px;
	left: 7px;
	width: 80px;
}

.minus {
	top: 8px;
	left: 7px;
	width: 80px;
}

.plus {
	top: 12px;
	left: 7px;
	width: 80px;
}


.button:focus, .large-button:focus {
	outline: 0;
	background-color: #677C9B;
}

.button:hover {
	background-color: #8daaaa;
	transition-duration: 0.3s;
}

.button:active {
	background-color: #8d9db6;
}